/*.preview-active {*/
#pdf-preview-box {
	display: none;
	position: relative;
	width: 100px;
	height: 400px;
	background: white;
	border: 1px solid #999;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	z-index: 10000;
	border-radius: 4px;
	overflow: hidden;
}

/*background-color: yellow !important;*/
/*}*/
